<a href="https://colab.research.google.com/github/JairEsc/Mat_Apl_2/blob/main/MF_Gillespie1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gillespie 1

In [ ]:
#Pseudo codigo SIR

# Define numero de agentes N
# Propiedad X_s+X_I+X_R=N

# Inicia t=0
# Calcular el tiempo de la siguiente reaccion con formula.
#   Hasta ahora, obtenemos $tau$ el tiempo de la siguiente reaccion, pero no sabemos qué reacción es.
# Decidir qué reacción fue, generando otro numero aleatorio, con cierta probabilidad cada uno.
# Actualizar
# Repetir hasta que ya no sea posible.

In [47]:
import numpy as np
import pandas as pd

In [127]:
def Gillespie(N,X_S,X_I,beta,gamma):
    #X_R=N-X_S-X_I
    #tiempo
    flag=True
    t=0
    Historia=[[0,X_S,X_I]]
    while(flag):
        tau=np.random.exponential((beta/N)*X_S*X_I+gamma*X_I)
        p=np.random.uniform(0,1)
        if(p<(beta*X_S/N)/((beta/N)*X_S+gamma)):#Infeccion
            X_S+=-1
            X_I+=1
        else:
            X_I-=1
        t+=tau
        Historia.append([t,X_S,X_I])
        if(X_S==0 or X_I==0):
            flag=False
    return Historia

In [134]:
H=Gillespie(100,100-1,1,1.25,1)

In [135]:
pd.DataFrame(H)

             0   1  2
0     0.000000  99  1
1     4.923203  98  2
2     9.784215  97  3
3    29.244743  96  4
4    43.712880  95  5
..         ...  .. ..
57  775.899929  70  2
58  779.101027  69  3
59  782.810539  69  2
60  785.006534  69  1
61  786.066866  69  0

[62 rows x 3 columns]